#weekWrapper {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  .weekItem {
    width: 95%;
    color: #fff;
    background-color: var(--grey800);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    .dateArea {
      width: 40px;
      height: 45px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: NanumGothicBold, sans-serif;
      border-radius: 10px;
      background-color: var(--greyOpacity600);
      .dateAreaMonth {
        font-size: 1.5rem;
      }
      .dateAreaDay {
        font-size: 2rem;
      }
    }
    .contentArea {
      width: calc(100% - 40px);
      padding: 10px;
      font-size: 1.5rem;
      li {
        display: flex;
        .delItem {
          margin-left: 5px;
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  .normalStatus {
    // navBar + addBtn + gap
    height: calc((100vh - (60 + 95 + 60) * 1px) / 7);
    transition: 0.2s;
  }
  .contractStatus {
    // 절반으로 줄어듦
    height: calc((100vh - (60 + 95 + 60) * 1px) / 7 / 2);
    transition: 0.2s;
  }
  .expandStatus {
    // 나머지가 줄어든 만큼 늘어남
    height: calc((100vh - (60 + 95 + 60) * 1px) / 7 / 2 * (6 + 2));
    transition: 0.2s;
  }
}

// 아이템 추가 영역
.bottomUpLayer {
  background-color: var(--grey800);
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: -90%;
  z-index: 1;
  border-radius: 15px 15px 0 0;

  #xIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
  }

  #addItemContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 2rem;
    .addItemElem {
      width: 80%;
      display: flex;
      align-items: center;
      .addItemElemInput {
        width: 100%;
        height: 100%;
        border-bottom: var(--grey300) 1px solid;
        input {
          width: 100%;
          color: white;
          border: none;
          background-color: transparent;
        }
        input:focus {
          outline: none;
        }
        textarea {
          width: 100%;
          color: white;
          border: none;
          background-color: transparent;
        }
        textarea:focus {
          outline: none;
        }
        #itemName {
          height: 4rem;
        }
        #itemContent {
          height: 8rem;
        }
      }
      .addItemElem:first-child {
        position: relative;
      }
      #colorPicker {
        position: absolute;
        right: calc(10%);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--skyBlue);
      }
      input[type="date"] {
        width: 100%;
        color: white;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        position: relative;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        color: transparent;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        // bottom: 0;
        // right: 0;
        width: 100%;
        height: 100%;
      }
    }
    .inputLarge {
      width: calc(100% - 25px);
      font-size: 3rem;
      height: 40px;
    }
    .inputMedium {
      width: 100%;
      font-size: 2rem;
    }
    #addItemBtn {
      background-color: var(--blue700);
      font-family: NanumGothicBold, sans-serif;
      width: 80%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 10px;
    }
    #addItemBtn:hover,
    #addItemBtn:focus {
      background-color: var(--blue500);
    }
    #updateItemBtn {
      background-color: var(--green700);
      font-family: NanumGothicBold, sans-serif;
      width: 80%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 10px;
    }
    #updateItemBtn:hover,
    #updateItemBtn:focus {
      background-color: var(--green500);
    }
  }
}
.bottomOpend {
  transform: translateY(-100%);
  transition: 0.3s;
}
.bottomClosed {
  transform: translateY(100%);
  transition: 0.3s;
}
