@import "mixins.scss";
@import "element.scss";
@import "calendar.scss";

@media screen and (max-width: 768px) {
  #layout {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  #layout {
    width: 430px;
    height: 950px;
  }
}

#layout {
  background-color: var(--grey900);
  overflow: hidden;
  position: relative;
  // side menu
  #sideMenu {
    background-color: var(--grey800);
    position: absolute;
    border-radius: 0 15px 15px 0;
    width: 80%;
    height: 100%;
    left: -80%;
    z-index: 1;
  }
  .menuOpend {
    transform: translateX(100%);
    transition: 0.2s;
  }
  .menuClosed {
    transform: translateX(-100%);
    transition: 0.2s;
  }

  // navbar
  .menuBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  #prevBtn {
    position: absolute;
    top: 15px;
    right: calc(15px + 30px + 15px + 30px + 15px);
    background-color: transparent;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  #todayBtn {
    position: absolute;
    top: 15px;
    right: calc(15px + 30px + 15px);
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 3px white solid;
    border-radius: 10px;
    font-size: 2.5rem;
    color: white;
    transform: translate(10%, -10%);
  }
  #nextBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  // add button
  #addBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: var(--blue700);
    cursor: pointer;
    #plusIcon {
      position: relative;
      #plusIconH {
        @include plusIcon-property($width: 5px, $height: 30px);
      }
      #plusIconV {
        @include plusIcon-property($width: 30px, $height: 5px);
      }
    }
  }
  #addBtn:hover,
  #addBtn:focus {
    background-color: var(--blue500);
  }

  // shieldLayer
  #shieldLayer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
}
